.no-focus-box {
  box-shadow: none !important;
  border-color: #b6b6b6 !important;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.no-focus-box-shadow {
  border-color: #b6b6b6 !important;
}